.pageHeader {
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
  background-color: #222222;
  font: 2em sans-serif;
}

section {
  margin-bottom: 50px;
}

.row {
  width: 100% !important;
  margin-bottom: 20px !important;
  margin: 0 !important;
}

.btn-section {
  text-align: center;
  margin-top: 20px;
}

.header {
  padding: 20px;
  margin-bottom: 25px;
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #222222;
  border-radius: 10px;

  > h2 {
    margin: 0;
  }
}

.devices-table {
  width: 100%;

  tbody {
    tr {
      cursor: pointer;
    }
  }

  th {
    text-align: center;
  }

  td {
    text-align: center;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  width: 100%; /* Full width */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  justify-content: center;
  select {
    width: 100% !important;
    height: 30px !important;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 0;
    padding: 0;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    width: 80%;
    padding: 30px !important;
    border-radius: 10px !important;
    height: fit-content;
    h3 {
      margin: 0;
    }
    .close {
      opacity: 1 !important;
      font-size: xx-large;
    }
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
      border: 0;
      padding: 0;
    }
    form {
      display: flex;
      flex-direction: column;
    }
  }
}

.color-picker {
  width: 30px;
  height: 30px;
  background: red;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.controlPage {
  border: 1px dashed red;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;

  > *:not(:last-child) {
    border-bottom: 1px black solid;
    padding-bottom: 5px;
  }

  h3 {
    margin: 0;
  }

  .controlPageHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .title {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  .stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.statusBadge {
  width: 25px;
  height: 25px;
  background-color: green;
  border-radius: 10px;

  &.off {
    background-color: red;
  }

  &.unavailable {
    background-color: gray;
  }
}

.deviceList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.deviceButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 10px;

  &.on {
    background-color: lightgreen;
  }
  &.off {
    background-color: lightcoral;
  }
  &.unavailable {
    background-color: lightgray;
  }
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: none;
  height: 0.5rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: #053a5f;
  height: 0.5rem;
}

input[type="range"] {
  /*position: relative;*/
  top: -50px;
  height: 50px;
  -webkit-appearance: none;
  background: none;
  cursor: pointer;
  width: 100%;
  z-index: 5;
  border: 1px solid black;

  &.intensityGradient {
    background-image: linear-gradient(to right, black, white);
  }

  &.tempGradient {
    background-image: linear-gradient(
      to right,
      rgb(255, 167, 87),
      rgb(255, 254, 250)
    );
  }
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  border: 0;
  height: 50px;
  width: 10px;
  border-radius: 0px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -22.5px;
}

/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: #5cd5eb;
  height: 2rem;
  width: 1rem;
}

.inputIntensity {
}

.rangeZone {
  position: relative;
  display: flex;
  height: 51px;
  width: 100%;
  justify-content: center;
  border: #000000 1px solid;
}
.rangeValue {
  z-index: 1;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 40px;
  font-weight: bolder;
}

.rangeValue2 {
  z-index: 1;
  /*height: 50px;
  line-height: 50px;*/
  text-align: center;
  border-radius: 10px;
  /*margin-left: 10px;*/
  font-size: 16px;
  font-weight: bolder;
}

/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
*/
/*
$switch-width: 20px;
$switch-height: 80px;
$slider-width: 30px;
$slider-height: 30px;
// Colors
$slider-color: #4e4d4d;
$circle-color: #d9d3d3;
*/
.vertical-switch-section {
  display: flex;
  padding: 20px 30px;
  background: #656a70;
  border-radius: 10px;
  box-shadow: 0px 10px 10px #73909324, 0px 20px 20px #73909324;
}
.vertical-switch {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 80px;
}

.vertical-slider {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #4e4d4d;
  border: 1px solid #00000008;
  border-radius: 10px;
}
.vertical-slider::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: calc((100% - 50px) / 2);
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background: #d9d3d3;
  transition: all 400ms cubic-bezier(1, 0, 0.01, 1.01);
}
input[type="checkbox"] {
  display: none;
}
input:checked + .vertical-slider:before {
  transform: translateY(calc(100% - 80px));
}
input[type="checkbox"] {
  display: none;
}
input:checked + .vertical-slider:before {
  transform: translateY(calc(100% - 80px));
}
.flex-center {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
}
