label {
  font: 14px sans-serif;
  font-weight: 700;
}

h1 {
  text-align: center;
  color: #fff;
  font: 34px sans-serif;
}

h2 {
  font: 30px sans-serif;
  margin: 0;
}

h3 {
  font: 24px sans-serif;
}

h4 {
  margin: 0;
}

p {
  font: 14px sans-serif;
}

input {
  line-height: 1.5rem;
  box-sizing: border-box;
}

button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

}


.pageBody {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.pageHeader {
  margin-bottom: 50px;
  background-color: #222222;

}

.pageMain {
  margin-left: 15%;
  margin-right: 15%
}

section {
  margin-bottom: 50px;
}

.header {
  padding: 20px;
  margin-bottom: 25px;
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #222222;
  border-radius: 10px;

  > h2 {
    font: 30px sans-serif;
    font-size: 30px;
    margin: 0;
  }
}

.addDeviceForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10px;

  @media only screen and (max-width: 1035px) {
    flex-direction: column;
    align-items: stretch;
  }

  .cell {
    flex: 1;
    display: flex;
    flex-direction: column;

    &.hidden {
      display: none;
    }

    .control {
      height: 30px;
      padding: 6px 12px;
      font-size: 14px;

    }
  }

  .cell[hidden] {
    display: none;
  }

  .button {
    color: white;
    background-color: #337ab7;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;

    &.button[disabled] {
      opacity: 65%;
    }
  }
}

.deviceList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.deviceCard {
  width: 225px;

  padding: 10px;
  border-radius: 10px;

  border: none;
  box-shadow: 0px 0px 10px black ;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;

  background-color: white;

  &.unavailable {
    background-color: lightgray;
  }

  &.selected {
    background-color: lightblue;
  }

  .deviceCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .deviceCardData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.statusIcon {
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;

  &.on {
    background-color: green;
  }

  &.off {
    background-color: red;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  top: 0;
  left: 0;

  &.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /*
  select {
    width: 100% !important;
    height: 30px !important;
  }
    */

  .modalContainer {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-color: #fefefe;
    width: 80%;
    border-radius: 10px !important;
    
    .modalHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding: 10px;
      border-bottom: 1px solid black;

      &.single {
        justify-content: flex-end;
      }

      h3 {
        margin: 0;
      }

      button {
        background-color: transparent;
        border: 1px solid black;
      
        padding: 6px 12px;
        border-radius: 4px;
      }
    }

    .modalContent {
      display: flex;
      flex-direction: column;
      margin: 10px;
      gap: 5px;
    }
  }
}

.btn-section {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.formButton {
  background-color: transparent;
  border: 1px solid black;

  padding: 6px 12px;
  border-radius: 4px;

  cursor: pointer;

  &.formButton[disabled] {
    cursor: default;
  }
}

.controlPage {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;

  h3 {
    margin: 0;
  }

  .controlPageHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    border-bottom: 1px black solid;
    padding-bottom: 5px;
  
    .title {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .buttonContainer {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }

    .controlPageHeaderButton {
      background-color: transparent;
      border: 1px solid black;
    
      padding: 6px 12px;
      border-radius: 4px;
    }
  }

  .controlPageForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    border-bottom: 1px black solid;
    padding-bottom: 5px;


    &.readonly {
      .textField {
        border: none;
        outline: none;
        cursor: default;
      }

      .saveButton {
        display: none;
      }
    }

    >label {
      margin: 0;
    }

    .textField {
      flex: 1;
    }

    .saveButton {
      background-color: transparent;
      border: 1px solid black;
      border-radius: 4px;
    }
    
    
  }

  .stats {
    display: flex;
    flex-direction: column;
    gap: 10px;

    >p {
      margin: 0;
    }
  }

  .controls {
    padding: 25px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;

    height: max-content;

    > *:not(:first-child) {
      flex: 1;
    }

    .slider-section {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .hidden {
    display: none;
  }
}

/***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: none;
  height: 0.5rem;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: #053a5f;
  height: 0.5rem;
}

input[type="range"] {
  /*position: relative;*/
  top: -50px;
  height: 50px;
  -webkit-appearance: none;
  background: none;
  cursor: pointer;
  width: 100%;
  z-index: 5;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;

  box-sizing: border-box;

  margin: 0;

  &.intensityGradient {
    background-image: linear-gradient(to right, black, white);
  }

  &.tempGradient {
    background-image: linear-gradient(
      to right,
      rgb(255, 167, 87),
      rgb(255, 254, 250)
    );
  }
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  border: 0;
  height: 50px;
  width: 10px;
  border-radius: 5px;
  background: #898585;
  border: #000000 1px solid;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -21px;
}

/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background: #898585;
  border: #000000 1px solid;
  height: 50px;
  width: 10px;
}

.rangeValue {
  z-index: 1;
  /*height: 50px;
  line-height: 50px;*/
  text-align: center;
  border-radius: 10px;
  /*margin-left: 10px;*/
  font-size: 16px;
  font-weight: bolder;
}

.vertical-switch-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  background: #bcbcbc;
  border-radius: 10px;
  box-shadow: 0px 10px 10px #73909324, 0px 20px 20px #73909324;

  p {
    margin: 0;
  }
}

.vertical-switch {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 80px;
}

.vertical-slider {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #393939;
  border-radius: 10px;
}

.vertical-slider::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: calc((100% - 50px) / 2);
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background: #d9d3d3;
  transition: all 400ms cubic-bezier(1, 0, 0.01, 1.01);
}

input[type="checkbox"] {
  display: none;
}

input:checked + .vertical-slider:before {
  transform: translateY(calc(100% - 80px));
}

input[type="checkbox"] {
  display: none;
}

input:checked + .vertical-slider:before {
  transform: translateY(calc(100% - 80px));
}




.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}