.pageHeader {
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
  background-color: #222222;
  font: 2em sans-serif;
}

section {
  margin-bottom: 50px;
}

.row {
  width: 100% !important;
  margin-bottom: 20px !important;
  margin: 0 !important;
}

.btn-section {
  text-align: center;
  margin-top: 20px;
}

.header {
  padding: 20px;
  margin-bottom: 25px;
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #222222;
  border-radius: 10px;
}

.devices-table {
  width: 100%;

  tbody {
    tr {
      cursor: pointer;
    }
  }

  th {
    text-align: center;
  }

  td {
    text-align: center;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  width: 100%; /* Full width */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  justify-content: center;
  select {
    width: 100% !important;
    height: 30px !important;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 0;
    padding: 0;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    width: 80%;
    padding: 30px !important;
    border-radius: 10px !important;
    height: fit-content;
    h3 {
      margin: 0;
    }
    .close {
      opacity: 1 !important;
      font-size: xx-large;
    }
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;
      border: 0;
      padding: 0;
    }
    form {
      display: flex;
      flex-direction: column;
    }
  }
}
